/* General styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Color (Deep and Rich) */
    --primary-color: #663399;
    /* Deep, Royal Purple */
    --primary-color-light: #9966CC;
    /* Lighter Purple (hover, active states) */
    --primary-color-dark: #33194d;
    /* Darker Purple (shadows, text on light backgrounds) */

    /* Secondary Color (Warm and Complementary) */
    --secondary-color: #A83279;
    /* Reddish-Purple (warm, inviting) */
    --secondary-color-light: #C5599E;
    /* Lighter Reddish-Purple (accents, highlights) */
    --secondary-color-dark: #782559;
    /* Darker Reddish-Purple (text, subtle elements) */

    /* Accent Color (Warm and Inviting) */
    --accent-color: #d4af37e0;
    /* Golden Yellow - Refined and balanced */

    /* Neutral Colors */
    --background-color: black;
    /* Very dark gray, almost black */
    --text-color: #eeeeeee3;
    /* Very light gray, almost white */
    --text-color-secondary: #ccc;
    /* Slightly darker gray for less prominent text */

    /* Other Variables */
    --border-radius: 0.5rem;
    --box-shadow-navbar: 0 0.1rem 0.4rem var(--primary-color);
    --box-shadow-primary: 0 0 0.3rem var(--primary-color);
    --box-shadow-secondary: 0 0 0.3rem var(--secondary-color-dark);
    /* Reddish-purple glow */
    --transition-duration: 0.3s;
    --transition-duration-longer: 0.5s;

    /* Gradients (Subtle) */
    --gradient-start: var(--background-color);
    /* Very dark gray */
    --gradient-end: var(--primary-color-dark);
    /* Dark reddish-purple gray */
    --linear-gradient: linear-gradient(90deg, var(--gradient-start) 70%, #1f0c33 90%, var(--gradient-start));
    --linear-gradient-text-primary: linear-gradient(90deg, transparent 20%, #33194d80 50%, transparent 80%);
    --linear-gradient-text-secondary: linear-gradient(90deg, transparent 20%, hsla(322, 53%, 31%, 0.418) 50%, transparent 80%);
    --viewport-width-desktop: 1400px;
    --viewport-width-mobile: 768px;
}

/* Typography */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    /* System font stack */
    scroll-behavior: smooth;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    /* text-align: center; */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


a {
    color: var(--secondary-color-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

h1 {
    font-size: 6rem;
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

#pricing,
#contacts,
footer .container-full {
    background: var(--linear-gradient-text-primary);
}


#instructors,
#calendar,
#qa {
    background: var(--linear-gradient-text-secondary);
}

.bigger-text {
    font-size: larger;
}

.smaller-text {
    font-size: smaller;
}

/* Container for max-width consistency */
.container-full {
    margin-top: 5rem;
    min-height: calc(100vh - 6rem);
    max-width: var(--viewport-width-desktop);
    position: relative;
    margin-inline: auto;
    border-radius: var(--border-radius);
    padding: 2rem;
    overflow: hidden;
}

/* Simplified navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 0.2rem;
    background: var(--linear-gradient);
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: calc(100% - 4rem);
    max-width: calc(1400px - 4rem);
    z-index: 1001;
    border-radius: var(--border-radius);
    /* box-shadow: var(--box-shadow-navbar); */
    overflow: hidden;
    transition: box-shadow var(--transition-duration) ease;
}

.navbar.scrolled {
    box-shadow: var(--box-shadow-navbar);
}


.navbar-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
}

.navbar-overlay.show {
    display: block;
    pointer-events: auto;
    backdrop-filter: blur(2px);
    z-index: 99;
}


.logo {
    height: 3rem;
    min-width: 3rem;
    z-index: 1000;
    position: relative;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    list-style: none;
    gap: 0.5rem;
    /* padding: 0.2rem; */
    white-space: nowrap;
}

.nav-links a {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
    transition: color var(--transition-duration) ease;
    padding: 0.5rem;
}

.nav-links a:hover {
    color: var(--accent-color);
    text-decoration: none;
}


.nav-toggle {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    z-index: 1001;
}

.nav-svg {
    width: 100%;
    height: 100%;
    transition: transform var(--transition-duration) ease;
}

.nav-toggle.expanded .nav-svg {
    transform: rotate(45deg);
}

.nav-svg-line {
    stroke: var(--text-color);
    stroke-width: 12;
    transition: all var(--transition-duration) ease;
    stroke-dasharray: 60 31 60 300;
}

.nav-toggle.expanded .nav-svg-line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}


.image-placeholder {
    position: relative;
    width: 100%;
    height: auto;
    /* padding-bottom: 56.25%; */
    padding-bottom: 65%;
    border-radius: var(--border-radius);
    overflow: hidden;
    text-align: center;
}

.instructor .image-placeholder {
    padding-bottom: 100%;
}


.instructor .image-placeholder::before {
    border-radius: 50%;
}

.image-placeholder::before {
    content: attr(aria-label);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    opacity: 1;
    transition: opacity var(--transition-duration-longer) ease;
    z-index: 1;
}

.image-placeholder.loaded::before {
    opacity: 0;
}

.image-placeholder img {
    position: absolute;
    /* inset: 0; */
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    margin-inline: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: float 2s ease-in-out infinite;
    z-index: 2;
}

.scroll-down img {
    width: 3rem;
    height: auto;
}

.scroll-down p {
    font-size: 0.8rem;
    color: var(--text-color);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#home {
    background-color: var(--background-color);
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip: padding-box;
    position: relative;
    z-index: 0;
    text-align: center;
}

#home::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--background-color);
    z-index: -1;
    transition: opacity var(--transition-duration-longer) ease;
}

#home.loaded::before {
    opacity: 0.4;
}

.home-container {
    min-height: calc(100vh - 16rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}

.home-container p:first-of-type {
    font-size: 2rem;
    background: var(--linear-gradient-text-primary);
    padding: 0.5rem;
    /* Push this paragraph to the top */
}

.home-container p:last-of-type {
    /* margin-top: 2rem; */
    font-size: 1.2rem;
    background: var(--linear-gradient-text-primary);
    padding: 0.5rem;
    font-style: italic;
}


.floating-contact-button {
    position: fixed;
    bottom: 2rem;
    /* left: calc(20vw + 2rem); */
    /* left: calc((100vw - var(--viewport-width-desktop))/2);
     */
    left: 12%;
    font-size: 1rem;
    padding: 0.8rem;
    z-index: 80;
    /* Ensure it stays on top */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    /* Vertically align items */
    /* color: red; */
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    border: none;
    /* overflow: hidden; */
}

.contact-text {
    /* font-size: 1rem; */
    white-space: nowrap;
    color: black;
    font-weight: bolder;
}

.contact-text-short {
    color: black;
    font-weight: bolder;
    display: none;
}

.contact-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
    transition: transform var(--transition-duration) ease;
    /* Smooth transition for rotation */
}

.contact-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 4rem;
    /* background-color: transparent; */
    list-style: none;
    opacity: 0;
    /* Initially hidden */
    /* transition: opacity 3s ease; */
    pointer-events: none;
    /* Prevent clicks when hidden */
    /* padding: 1rem; */
    overflow: hidden;

}

.contact-menu li {
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
}

.contact-menu a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 0.5rem;
    background-color: var(--primary-color-dark);
    /* padding: 0.5rem; */
    border-radius: var(--border-radius);
    transform: translateY(5rem);
    transition: transform 0.2s ease-in-out;
    /* Initially position below the visible area */
}


.contact-menu a:hover {
    background-color: var(--primary-color-light);
}

.contact-menu a img {
    height: 3rem;
    padding: 0.5rem;
    font-size: 1rem;
}

/* Click effects */
.floating-contact-button.open .contact-icon {
    transform: rotate(180deg);
    /* Rotate 180 degrees on click */
}

.floating-contact-button.open .contact-menu {
    opacity: 1;
    pointer-events: auto;
}

.floating-contact-button.open .contact-menu a {
    transform: translateY(0);
}


/* Staggered animation for menu items */
.floating-contact-button.open .contact-menu li:nth-child(1) a {
    transition-delay: 0.15s;
}

.floating-contact-button.open .contact-menu li:nth-child(2) a {
    transition-delay: 0.1s;
}

.floating-contact-button.open .contact-menu li:nth-child(3) a {
    transition-delay: 0.05s;
}


.instructors-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: var(--border-radius);
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.instructors-container img {
    border-radius: 50%;
}

.instructor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-primary);
    padding: 1rem;
    gap: 1rem;
    flex-basis: 300px;
}



.instructor-info-1 p:first-of-type {
    color: var(--primary-color-light);
    font-style: italic;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 1rem;
    /* min-height: calc(100vh - 16rem); */
}

.calendar-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: stretch;
    margin-block: 1rem;
    padding: 1rem;
}



.calendar-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: var(--box-shadow-primary);
    gap: 1rem;
    width: 300px;
}

.calendar-card h3 {
    text-align: center;
}

.calendar-classes li {
    line-height: 2;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}

.time {
    font-weight: bold;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    /* align-items: baseline; */
    gap: 2rem;
}


.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* min-width: 200px; */
    /* width: 100%; */
    /* justify-content: space-evenly; */
    /* align-items: stretch;
    margin-block: 1rem;
    max-width: 80%;
    margin-inline: auto; */
    /* width: 100%; */
    gap: 1rem;

}

/* .pricing-container>p:first-of-type,
.payment-methods {
    margin-left: 3%;
} */


.pricing-summary {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2;
}

.pricing-summary span {
    background-color: var(--secondary-color-dark);
    border-radius: var(--border-radius);
    padding-inline: 0.2rem;
    white-space: nowrap;
    font-weight: bold;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    /* padding-block: 1rem; */
    /* flex-basis: 200px; */
    padding-block: 3rem;
    padding-inline: 0.5rem;
    color: var(--card-text-color);
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}


.pricing-container>p:first-of-type,
/* .pricing-summary, */
.payment-methods {
    width: 100%;
    box-sizing: border-box;
}

.price {
    background-color: var(--secondary-color-dark);
    border-radius: var(--border-radius);
    padding-inline: 1rem;
    white-space: nowrap;
}

.currency {
    vertical-align: top;
}

.amount {
    font-size: 1.2rem;
    font-weight: bold;
}

.period {
    font-size: 1rem;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    text-align: left;
}

.features li {
    /* display: flex; */
    align-items: center;
    gap: 0.8rem;
    position: relative;
    padding-left: 0.5rem;
    /* Make space for the icon */
}

.available {
    color: var(--text-color);
}

.available span {
    margin-right: 0.5rem;
    color: var(--secondary-color-light);
}

.not-available {
    color: var(--text-color-dark);
}

.not-available span {
    margin-right: 0.5rem;
    color: var(--secondary-color-dark);
}

.payment-methods {
    margin-top: 2rem;
    /* text-align: center; */
    margin-inline: auto;
}

.payment-methods li {
    margin-left: 1rem;
}

/* Gallery Section */
/* #gallery {
    background-color: var(--primary-color-dark);
} */

.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* .gallery-container p {
    font-size: 1.4rem;
} */

.gallery-container iframe {
    aspect-ratio: 16/9;
    border-radius: var(--border-radius);
}


/* Questions Section */
.qa-container {
    margin-top: 1rem;
    list-style: none;
}


.qa-container li {
    /* margin-top: 2rem; */
    box-shadow: var(--box-shadow-primary);
    padding: 1rem;
    text-align: left;
    margin-top: 1rem;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

#contacts strong {
    font-weight: bold;
}

.contacts-container p:nth-child(4) {
    text-align: center;
}

.contact-saloon {
    margin-left: 2rem;
}

/* #contacts ol {
    margin-bottom: 1rem;
} */


.contact-locations {
    width: 100%;
}

.contact-locations img {
    z-index: 1;
    border-radius: var(--border-radius);
}

.contact-locations p {
    text-align: center;
}

.social-media {
    display: flex;
    /* width: 100%; */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* padding-block: 2rem; */
    /* flex-basis: 500px; */
}

.social-media img {
    width: 3rem;
    height: 3rem;
    border-radius: 40%;
    object-fit: cover;
    z-index: 1;
}

footer .container-full {
    text-align: center;
    padding-top: 0;
    padding-bottom: 2.5rem;
    margin-block: auto;
    min-height: auto;
    max-width: var(--viewport-width-desktop);
}

.copyright {
    /* display: flex;
    flex-direction: column; */
    padding-top: 0.5rem;
    /* align-items: center; */
    /* justify-content: center; */

}


.copyright>a:last-child {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-inline: auto;
}

.copyright img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.legal {
    padding: 1rem;
}

.legal ul {
    list-style: none;
}


/* Media Queries for Mobile */
@media (max-width: 768px) {
    .container-full {
        max-width: var(--viewport-width-mobile);
    }

    .nav-content {
        padding: 0.5rem;
    }

    .nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        display: none;
        position: fixed;
        top: 1rem;
        right: 2rem;
        left: 2rem;
        max-width: var(--viewport-width-mobile);
        margin-inline: auto;
        flex-direction: column;
        z-index: 100;
        justify-content: flex-start;
        gap: 1rem;
        padding-block: 4rem;
        padding-right: 1rem;
        /* background: var(--background-color); */
        background-image: var(--linear-gradient);
        color: var(--text-color);
        box-shadow: var(--box-shadow-navbar);
    }

    .nav-links.open {
        display: flex;
        /* Adjust width as needed */
        flex-direction: column;
        text-align: center;
        /* z-index: 100; */
        justify-content: flex-start;
        gap: 1rem;
        padding-top: 4rem;
        background-image: var(--linear-gradient);
        color: var(--text-color);
        border-radius: var(--border-radius);
    }

    #home {
        background-size: contain;
    }

    .nav-links li {
        padding: 0.5rem 1rem;
    }


    .floating-contact-button {
        left: 2rem;
        padding: 0.5rem;
    }


    .contact-menu {
        margin-bottom: 3rem;
    }

    .contact-text {
        display: none;
    }

    .contact-text-short {
        display: inline;
    }

    footer .container-full {
        max-width: var(--viewport-width-mobile);
    }

    .qa-container {
        flex-direction: column;
        gap: 2rem;
    }
}


@media (max-width: 1600px) and (min-width: 769px) {
    .floating-contact-button {
        left: 2rem;
    }
}