/* General styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Color (Deep and Rich) */
    --primary-color: #663399;
    /* Deep, Royal Purple */
    --primary-color-light: #9966CC;
    /* Lighter Purple (hover, active states) */
    --primary-color-dark: #33194d;
    --primary-color-dark-contacts: rgba(40, 1, 78, 0.795);
    /* Darker Purple (shadows, text on light backgrounds) */

    /* Secondary Color (Warm and Complementary) */
    --secondary-color: #A83279;
    /* Reddish-Purple (warm, inviting) */
    --secondary-color-light: #C5599E;
    /* Lighter Reddish-Purple (accents, highlights) */
    --secondary-color-dark: #782559;
    /* Darker Reddish-Purple (text, subtle elements) */

    /* Accent Color (Warm and Inviting) */
    --accent-color: #bb9413;
    --accent-color-bright: #f7bd00;
    /* Golden Yellow - Refined and balanced */

    /* Neutral Colors */
    --background-color: rgb(0, 0, 0);
    /* Very dark gray, almost black */
    --text-color: #f3f3f3;
    /* Very light gray, almost white */
    --text-color-secondary: #919191;
    /* Slightly darker gray for less prominent text */

    /* Other Variables */
    --border-radius: 0.5rem;
    --box-shadow-navbar: 0 0.1rem 0.5rem 0.03rem var(--primary-color);
    --box-shadow-cta: 0px 4px 8px -4px white;
    /* --box-shadow-primary: 0 0 0.3rem var(--primary-color); */
    --box-shadow-primary: 0 0 0.5rem 0.05rem var(--primary-color);
    /* --box-shadow-secondary: 0 0 1rem 0.05rem var(--secondary-color-dark); */
    /* Reddish-purple glow */
    --transition-duration: 0.3s;
    --transition-duration-longer: 0.5s;
    --transition-duration-fast: 0.25s;

    --linear-gradient: linear-gradient(90deg, var(--background-color) 60%, #2f075a);
    --linear-gradient-text-primary: linear-gradient(90deg, transparent 20%, hsla(270, 51%, 20%, 0.527) 50%, transparent 80%);
    --linear-gradient-text-secondary: linear-gradient(90deg, transparent 20%, hsla(322, 53%, 31%, 0.233) 50%, transparent 80%);
    --viewport-width-desktop: 1600px;
    --viewport-width-mobile: 768px;

    --stagger-delay: 0.05s;
    --clicked-feedback-time: 0.05s;
    /* Delay between each item */
}

/* Typography */
body {
    scroll-behavior: smooth;
    color: var(--text-color);
}

body.no-scroll {
    overflow: hidden;
}

a {
    display: inline-block;
    color: var(--accent-color);
    text-decoration: none;
    transition: color var(--clicked-feedback-time) ease, transform var(--clicked-feedback-time) ease;
    /* Smooth transition */
}

a:active {
    transform: scale(0.93);
    color: var(--accent-color-bright);
    /* Scale down to 95% on press */
}

h1 {
    font-size: 6rem;
    line-height: 1.2;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
    background: var(--linear-gradient-text-primary);
}

h3 {
    font-size: 1.5rem;
}


.teacher-heading,
.gallery-heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#cta {
    cursor: pointer;
    user-select: none;
    transition: background-color var(--clicked-feedback-time) ease, transform var(--clicked-feedback-time) ease;
}

#cta:active {
    background-color: var(--primary-color);
    transform: scale(0.93);
}


.bigger-text {
    font-size: larger;
}


.smaller-text {
    font-size: smaller;
}

/* Container for max-width consistency */
.container-full {
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
    /* 0.5rem(navbar top)+0.5rem(below navbar)+0.5rem(bottom view)+ 3rem(navbar) + 0.2rem padding-block*/
    min-height: calc(100vh - 5rem);
    max-width: var(--viewport-width-desktop);
    position: relative;
    margin-inline: auto;
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}

/* Simplified navbar styles */
.navbar {
    transition: box-shadow var(--transition-duration) ease;
}

.navbar.scrolled {
    box-shadow: var(--box-shadow-navbar);
}


.navbar-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
}

.navbar-overlay.show {
    display: block;
    pointer-events: auto;
    backdrop-filter: blur(2px);
    z-index: 99;
}

#logo-header {
    user-select: none;
    transition: transform var(--clicked-feedback-time) ease;
}

#logo-header:active {
    transform: scale(0.85);
}

#logo-header img {
    user-select: none;
    cursor: pointer;
}


.nav-links a {
    transition: color var(--transition-duration) ease;
    user-select: none;
    transition: color var(--clicked-feedback-time) ease, transform var(--clicked-feedback-time) ease;
}

.nav-links a:active {
    color: var(--accent-color-bright);
    transform: scale(0.93);
}

.nav-toggle {
    user-select: none;
    justify-content: space-between;
    flex-direction: column;
}


.nav-svg {
    transition: transform var(--transition-duration) ease;
}

.nav-toggle.expanded .nav-svg {
    transform: rotate(45deg);
}

.nav-svg-line {
    transition: all var(--transition-duration) ease;
}

.nav-toggle.expanded .nav-svg-line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}

.image-placeholder {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* Maintain aspect ratio */
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    text-align: center;

}

.image-placeholder::before {
    content: attr(aria-label);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-placeholder img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.lazy-load {
    opacity: 0;
    transition: opacity var(--transition-duration-fast) ease-in;
}

.lazy-load.loaded {
    opacity: 1;
}

.teacher .image-placeholder {
    padding-bottom: 100%;
    border-radius: 50%;
}


.contact-locations .image-placeholder {
    padding-bottom: 63%;
}

.gallery-container .image-placeholder {
    padding-bottom: 58%;
}

.gallery-container lite-youtube .image-placeholder {
    margin-block: 0.2rem;
    padding-bottom: 56.25%;
}

lite-youtube img {
    height: 100%;
}

.teacher .lazy-load,
.style-card .lazy-load {
    aspect-ratio: 1/1;
}

.style-card .image-placeholder {
    padding-bottom: 100%;
    border-radius: 25%;
}


.teacher .image-placeholder::before {
    border-radius: 50%;
}


.parallax-img {
    will-change: transform, opacity;
}



.floating-contact-button:active {
    transform: scale(0.93);
    /* Scale down on press */
    background-color: var(--accent-color-bright);
}


.contact-icon {
    transition: transform var(--transition-duration) ease;
}


.contact-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-menu li {
    white-space: nowrap;
    margin-top: 0.2rem;
}

.contact-menu a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    background-color: var(--primary-color-dark);
    border-radius: var(--border-radius);
    height: 2.5rem;
    padding-inline: 0.5rem;
    opacity: 0;
    transform: translateY(300%);
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
}


.contact-menu img {
    height: 1.5rem;
    width: 1.5rem;
    /* padding: 0.2rem; */
    margin-right: 0.5rem;
}


/* Open state styles */
.floating-contact-button.open .contact-icon {
    transform: rotate(180deg) translateY(-0.1rem);
}

.floating-contact-button.open .contact-menu-container {
    pointer-events: auto;
}

.floating-contact-button.open .contact-menu a {
    opacity: 1;
    transform: translateY(0);
}

/* Staggered animation with CSS only */
.floating-contact-button.open .contact-menu li:nth-child(1) a {
    transition-delay: 0.1s;

}

.floating-contact-button.open .contact-menu li:nth-child(2) a {
    transition-delay: 0.05s;
}

.floating-contact-button.open .contact-menu li:nth-child(3) a {
    transition-delay: 0s;
}

.spacer {
    flex-grow: 1;
}

.styles-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: var(--border-radius);
    gap: 1rem;
    flex-grow: 1;
}

.styles-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.style-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-primary);
    padding-block: 2rem;
    padding-inline: 1rem;
    max-width: 300px;
    min-width: 260px;
    flex-basis: 25%;
}

.style-card>h3 {
    border-bottom: solid 0.2rem var(--primary-color-dark);
}

.teachers-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    gap: 2rem;
}

.teachers-container img {
    border-radius: 50%;
}

.teacher {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-primary);
    padding: 1rem;
    gap: 1rem;
    max-width: 300px;
    min-width: 320px;
    flex-basis: 25%;
    background-color: var(--background-color);
}



.teacher-info-1 p:first-of-type {
    color: var(--primary-color-light);
    font-style: italic;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: stretch; */
    gap: 2rem;
    flex-grow: 4;
}

.calendar-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}


/* Day Card */
.calendar-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-primary);
    padding: 1.5rem;
    max-width: 300px;
    min-width: 250px;
    flex-basis: 25%;
    color: var(--text-color);
}

.day-heading {
    text-align: center;
}

.location-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* box-shadow: var(--box-shadow-navbar); */
}

.location-heading {
    /* font-size: 1em; */
    color: var(--text-color-secondary);
    border-bottom: solid 0.2rem var(--primary-color-dark);
    text-align: right;
    white-space: nowrap;
}

.teacher-name {
    /* font-size: small; */
    color: var(--text-color-secondary);
    /* margin-bottom: 0.3rem; */
    text-align: right;
}

.class-entry {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    gap: 0.5rem;
}

.time {
    font-weight: bold;
    color: var(--primary-color-light);
    flex: 0 0 4rem;
}

.class-name {
    font-size: 1em;
    color: var(--text-color);
}


.pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    flex-grow: 4;
}


.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* min-width: 200px; */
    /* width: 100%; */
    /* justify-content: space-evenly; */
    /* align-items: stretch;
    margin-block: 1rem;
    max-width: 80%;
    margin-inline: auto; */
    /* width: 100%; */
    gap: 1rem;

}


.pricing-summary {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2;
    margin-top: 1rem;
}

.pricing-summary span {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding-block: 0.2rem;
    padding-inline: 0.4rem;
    white-space: nowrap;
    font-weight: bold;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-primary);
    /* padding-block: 1rem; */
    /* flex-basis: 200px; */
    padding-block: 2rem;
    padding-inline: 0.5rem;
    max-width: 300px;
    min-width: 260px;
    flex-basis: 25%;
}

.price {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding-inline: 1rem;
    white-space: nowrap;
}

.currency {
    vertical-align: top;
}

.amount {
    font-size: 1.2rem;
    font-weight: bold;
}

.period {
    font-size: 1rem;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    text-align: left;
}

.features li {
    /* display: flex; */
    align-items: center;
    gap: 0.8rem;
    position: relative;
    padding-left: 0.5rem;
    /* Make space for the icon */
}

.available {
    color: var(--text-color);
}

.available span {
    margin-right: 0.5rem;
    color: var(--primary-color-light);
}

.not-available {
    color: var(--text-color-secondary);
}

.not-available span {
    margin-right: 0.5rem;
    color: var (--primary-color-dark);
}

.payment-methods {
    margin-top: 1rem;
}

.payment-methods li {
    margin-left: 1rem;
}

/* Gallery Section */
/* #gallery {
    background-color: var(--primary-color-dark);
} */

.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    flex-grow: 1;
}


lite-youtube {
    position: relative;
    width: 100%;
    max-width: var(--viewport-width-desktop) !important;
    border-radius: var(--border-radius) !important;
    background-image: none !important;
    background-color: black !important;
    /* cursor: auto; */
    display: flex !important;
    z-index: 1;
    pointer-events: none;
}


lite-youtube::before {
    overflow: visible !important;
    white-space: wrap !important;
    z-index: -1 !important;
    transition: opacity var(--transition-duration-fast) ease-in !important;
    opacity: 0;
    padding: 0.8rem !important;
    font-size: 1rem !important;
}

lite-youtube .lyt-playbtn {
    filter: none !important;
    z-index: -1 !important;
    transition: opacity var(--transition-duration-fast) ease-in !important;
    opacity: 0;
}

lite-youtube .lyt-visually-hidden {
    display: none !important;
}

lite-youtube.img-ready {
    pointer-events: auto !important;
}

lite-youtube.img-ready::before,
lite-youtube.img-ready .lyt-playbtn {
    z-index: 1 !important;
    opacity: 1;
}

/* Carousel Section */
.carousel {
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
}

.carousel-container {
    display: flex;
    width: 92%;
    transition: transform 0.2s ease-in;
    margin-inline: auto;
    will-change: transform;
}

.carousel-slide {
    min-width: 100%;
    position: relative;
    opacity: 1;
    transition: all 0.2s ease-in;
    pointer-events: none;
    user-select: none;
}

.carousel-slide.active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    z-index: 1;
    pointer-events: auto;
    /* Removed pointer-events to fix touch issues */
}

.carousel-slide.prev,
.carousel-slide.next {
    opacity: 0.3;
    filter: blur(2px);
    transform: scale(0.96);
}

.carousel-navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2rem;
    width: 99%;
    margin-inline: auto;
    /* height: 56.25%; */
    /* Match the padding-bottom of image-placeholder */
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 2;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-block: 0.5rem;
    max-width: 100%;
}

.carousel-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--text-color-secondary);
    cursor: pointer;
    transition: transform var(--transition-duration) ease,
        background-color var(--transition-duration) ease;
}

.carousel-dot.active {
    background: var(--text-color);
    transform: scale(1.2);
}

.carousel-button {
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    color: var(--text-color);
    cursor: pointer;
    pointer-events: auto;
    transition: all var(--transition-duration) ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button svg {
    width: 2rem;
    height: 2rem;
    transition: transform var(--transition-duration) ease;
}

.carousel-button img {
    width: 2rem;
    height: 2rem;
    /* Make SVG white */
}

.carousel-button:hover {
    background: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}

.carousel-button:active {
    transform: scale(0.95);
}

/* .carousel-button:disabled {
    opacity: 0;
    pointer-events: none;
} */


/* Questions Section */
.qa-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    flex-grow: 4;
}


.qa-container li {
    /* margin-top: 2rem; */
    box-shadow: var(--box-shadow-primary);
    padding: 1rem;
    text-align: left;
    background-color: var(--background-color);
}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    flex-grow: 4;
}

#contacts strong {
    font-weight: bold;
}

.contacts-container p:nth-child(4) {
    text-align: center;
}

.contact-saloon {
    margin-left: 2rem;
}

/* #contacts ol {
    margin-bottom: 1rem;
} */


.contact-locations {
    width: 100%;
}

.contact-locations img {
    z-index: 1;
    border-radius: var(--border-radius);
}

.contact-locations p {
    text-align: center;
}

.social-media {
    display: flex;
    /* width: 100%; */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* padding-block: 2rem; */
    /* flex-basis: 500px; */
}

.social-media img {
    width: 3rem;
    height: 3rem;
    border-radius: 40%;
    object-fit: cover;
    z-index: 1;
}

footer .container-full {
    text-align: center;
    padding-top: 0;
    padding-bottom: 2.5rem;
    margin-block: auto;
    min-height: auto;
    max-width: var(--viewport-width-desktop);
}

.copyright {
    padding-top: 0.5rem;
}


#logo-footer {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-inline: auto;
}

.copyright img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.legal {
    padding: 1rem;
}

.legal ul {
    list-style: none;
}


/* Media Queries for Mobile */
@media (max-width: 768px) {
    :root {
        --box-shadow-primary: 0 0 0.5rem 0.03rem var(--primary-color);
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .nav-content {
        padding: 0.5rem;
    }

    .nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        left: 0.5rem;
        max-width: var(--viewport-width-mobile);
        margin-inline: auto;
        flex-direction: column;
        z-index: 100;
    }

    .nav-links.open {
        display: flex;
        /* Adjust width as needed */
        flex-direction: column;
        text-align: center;
        /* z-index: 100; */
        justify-content: flex-start;
        gap: 1rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        background-image: var(--linear-gradient);
        color: var(--text-color);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow-navbar);
    }

    .nav-links li {
        padding-inline: 1rem;
    }


    .qa-container {
        flex-direction: column;
        gap: 2rem;
    }

    footer .container-full {
        max-width: var(--viewport-width-mobile);
    }

    .styles-cards {
        gap: 2rem;
    }


    .scroll-down img {
        width: 2rem;
        height: 2rem;
    }

    lite-youtube::before {
        font-size: 0.8rem;
    }

    .carousel-navigation {
        bottom: 1.8rem;
        /* width: 100%; */
    }

    .carousel-dot {
        width: 0.8rem;
        height: 0.8rem;
    }

    .carousel-button {
        width: 2rem;
        height: 2rem;
    }

    .carousel-button svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .carousel-button img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .typing {
        font-size: 1rem;
        min-height: 4rem;
    }

}



/* Remove blink animation keyframes as we don't need them anymore */

@media (hover:hover) {
    a:hover {
        text-decoration: underline;
        color: var(--accent-color-bright);
    }

    #cta:hover {
        background-color: var(--primary-color);
    }

    .nav-links a:hover {
        text-decoration: none;
    }

    .contact-menu a:hover {
        color: var(--text-color);
        text-decoration: none;
        background-color: var(--primary-color);
    }

    .floating-contact-button:hover {
        background-color: var(--accent-color-bright);
    }
}