/* General styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Color (Deep and Rich) */
    --primary-color: #663399;
    /* Deep, Royal Purple */
    --primary-color-light: #9966CC;
    /* Lighter Purple (hover, active states) */
    --primary-color-dark: #33194d;
    --primary-color-dark-contacts: rgba(40, 1, 78, 0.795);
    /* Darker Purple (shadows, text on light backgrounds) */

    /* Secondary Color (Warm and Complementary) */
    --secondary-color: #A83279;
    /* Reddish-Purple (warm, inviting) */
    --secondary-color-light: #C5599E;
    /* Lighter Reddish-Purple (accents, highlights) */
    --secondary-color-dark: #782559;
    /* Darker Reddish-Purple (text, subtle elements) */

    /* Accent Color (Warm and Inviting) */
    --accent-color: #bb9413;
    --accent-color-bright: #f7bd00;
    /* Golden Yellow - Refined and balanced */

    /* Neutral Colors */
    --background-color: black;
    /* Very dark gray, almost black */
    --text-color: #f3f3f3;
    /* Very light gray, almost white */
    --text-color-secondary: #919191;
    /* Slightly darker gray for less prominent text */

    /* Other Variables */
    --border-radius: 0.5rem;
    --box-shadow-navbar: 0 0.1rem 0.5rem 0.01rem var(--primary-color);
    --box-shadow-cta: 0 0.1rem 0.5rem 0.01rem var(--accent-color);
    /* --box-shadow-primary: 0 0 0.3rem var(--primary-color); */
    --box-shadow-primary: 0 0 0.3rem 0.01rem var(--primary-color);
    --box-shadow-secondary: 0 0 0.3rem 0.01rem var(--secondary-color-dark);
    /* Reddish-purple glow */
    --transition-duration: 0.3s;
    --transition-duration-longer: 0.5s;

    --linear-gradient: linear-gradient(90deg, var(--background-color) 60%, #1f0c33);
    --linear-gradient-text-primary: linear-gradient(90deg, transparent 20%, #33194d80 50%, transparent 80%);
    --linear-gradient-text-secondary: linear-gradient(90deg, transparent 20%, hsla(322, 53%, 31%, 0.418) 50%, transparent 80%);
    --viewport-width-desktop: 1400px;
    --viewport-width-mobile: 768px;

    --stagger-delay: 0.05s;
    /* Delay between each item */
}

/* Typography */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    /* System font stack */
    scroll-behavior: smooth;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    /* text-align: center; */
}

body.no-scroll {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--accent-color-bright);
}

h1 {
    font-size: 6rem;
    line-height: 1.2;
    /* white-space: nowrap; */
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

#styles,
#calendar,
#contacts,
footer .container-full {
    background: var(--linear-gradient-text-primary);
}

#about,

#pricing,
#qa {
    background: var(--linear-gradient-text-secondary);
}

.teacher-heading,
.gallery-heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* #about>p:first-of-type,
#gallery>p:first-of-type {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
} */


#cta {
    margin-top: 3rem;
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--primary-color-dark);
    color: white;
    text-decoration: none;
    /* border: solid var(--accent-color); */
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    cursor: pointer;
    /* box-shadow: var(--box-shadow-cta); */
    transition: transform 0.2s ease-in-out;
    font-weight: bold;
    font-style: italic;
}

#cta:hover {
    text-decoration: none;
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.bigger-text {
    font-size: larger;
}




.smaller-text {
    font-size: smaller;
}

/* Container for max-width consistency */
.container-full {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    min-height: calc(100vh - 6rem);
    max-width: var(--viewport-width-desktop);
    position: relative;
    margin-inline: auto;
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}

/* Simplified navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 0.2rem;
    background: var(--linear-gradient);
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: calc(100% - 2rem);
    max-width: calc(1400px - 2rem);
    z-index: 1001;
    border-radius: var(--border-radius);
    /* box-shadow: var(--box-shadow-navbar); */
    overflow: hidden;
    transition: box-shadow var(--transition-duration) ease;
}

.navbar.scrolled {
    box-shadow: var(--box-shadow-navbar);
}


.navbar-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
}

.navbar-overlay.show {
    display: block;
    pointer-events: auto;
    backdrop-filter: blur(2px);
    z-index: 99;
}

#logo-header {
    height: 3rem;
    width: 3rem;
    z-index: 1000;
    position: relative;
    user-select: none;
}



.nav-links {
    display: flex;
    align-items: flex-end;
    list-style: none;
    gap: 0.5rem;
    /* padding: 0.2rem; */
    white-space: nowrap;
}

.nav-links a {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
    transition: color var(--transition-duration) ease;
    padding: 0.5rem;
    user-select: none;
}

.nav-links a:hover {
    text-decoration: none;
    color: var(--accent-color-bright);
}


.nav-toggle {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    z-index: 1001;
}

.nav-svg {
    width: 100%;
    height: 100%;
    transition: transform var(--transition-duration) ease;
}

.nav-toggle.expanded .nav-svg {
    transform: rotate(45deg);
}

.nav-svg-line {
    stroke: var(--text-color);
    stroke-width: 12;
    transition: all var(--transition-duration) ease;
    stroke-dasharray: 60 31 60 300;
}

.nav-toggle.expanded .nav-svg-line {
    stroke-dasharray: 60 105 60 300;
    stroke-dashoffset: -90;
}


.image-placeholder {
    position: relative;
    width: 100%;
    height: auto;
    /* padding-bottom: 56.25%; */
    padding-bottom: 64%;
    border-radius: var(--border-radius);
    overflow: hidden;
    text-align: center;
}

.teacher .image-placeholder {
    padding-bottom: 100%;

}

.style-card .image-placeholder {
    padding-bottom: 100%;
    border-radius: 25%;
}


.teacher .image-placeholder::before {
    border-radius: 50%;
}

.image-placeholder::before {
    content: attr(aria-label);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    opacity: 1;
    transition: opacity var(--transition-duration) ease;
    z-index: 1;
}

.image-placeholder.loaded::before {
    opacity: 0;
}

.image-placeholder img {
    position: absolute;
    /* inset: 0; */
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    margin-inline: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: float 2s ease-in-out infinite;
    z-index: 2;
}

.scroll-down img {
    width: 3rem;
    height: 3rem;
}

.scroll-down p {
    font-size: 0.8rem;
    color: var(--text-color);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#home {
    background-color: var(--background-color);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip: padding-box;
    position: relative;
    z-index: 0;
    text-align: center;
    background-size: cover;
}

#home::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--background-color);
    z-index: -1;
    transition: opacity var(--transition-duration-longer) ease;
}

#home.loaded::before {
    opacity: 0.4;
}

/* .home-container, */
/* .teachers-container,
.pricing-container,
.calendar-container,
.qa-container,
.contacts-container {
    min-height: 60vh;
} */


.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    flex-grow: 2;
}

.home-container p:first-of-type {
    font-size: 2rem;
    background: var(--linear-gradient-text-primary);
    padding: 0.5rem;
    margin-block: 2rem;
    /* Push this paragraph to the top */
}

.home-container p:last-of-type {
    /* margin-top: 2rem; */
    font-size: 1.2rem;
    background: var(--linear-gradient-text-primary);
    padding: 0.5rem;
    font-style: italic;
    /* margin-bottom: 10rem; */
}


.floating-contact-button {
    position: fixed;
    bottom: 2rem;
    /* left: calc(20vw + 2rem); */
    /* left: calc((100vw - var(--viewport-width-desktop))/2);
     */
    left: 12%;
    font-size: 1rem;
    padding: 0.5rem;
    z-index: 80;
    /* Ensure it stays on top */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    /* Vertically align items */
    /* color: red; */
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    border: none;
    /* overflow: hidden; */
    min-width: 120px;
}

.contact-text {
    /* font-size: 1rem; */
    white-space: nowrap;
    color: black;
    font-weight: bold;
}

.contact-text-short {
    color: black;
    font-weight: bold;
    display: none;
}

.contact-icon {
    height: 1rem;
    width: 1rem;
    margin-left: 0.1rem;
    /* margin-left: 0.5rem; */
    transition: transform var(--transition-duration) ease;
}

.contact-menu-container {
    position: absolute;
    bottom: 110%;
    /* Align with the button's bottom */
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.contact-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-menu li {
    white-space: nowrap;
    margin-top: 0.2rem;
}

.contact-menu a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    background-color: var(--primary-color-dark);
    border-radius: var(--border-radius);
    height: 2.5rem;
    padding-inline: 0.5rem;
    opacity: 0;
    transform: translateY(300%);
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
}


.contact-menu a:hover {
    background-color: var(--primary-color-light);
}

.contact-menu img {
    height: 1.5rem;
    width: 1.5rem;
    /* padding: 0.2rem; */
    margin-right: 0.5rem;
}


/* Open state styles */
.floating-contact-button.open .contact-icon {
    transform: rotate(180deg) translateY(-0.1rem);
}

.floating-contact-button.open .contact-menu-container {
    pointer-events: auto;
}

.floating-contact-button.open .contact-menu a {
    opacity: 1;
    transform: translateY(0);
}

/* Staggered animation with CSS only */
.floating-contact-button.open .contact-menu li:nth-child(1) a {
    transition-delay: 0.1s;

}

.floating-contact-button.open .contact-menu li:nth-child(2) a {
    transition-delay: 0.05s;
}

.floating-contact-button.open .contact-menu li:nth-child(3) a {
    transition-delay: 0s;
}

.spacer {
    flex-grow: 1;
}

.styles-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: var(--border-radius);
    gap: 1rem;
    flex-grow: 4;
}

.styles-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
}

.style-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    padding-block: 2rem;
    padding-inline: 1rem;
    max-width: 300px;
    min-width: 260px;
    flex-basis: 25%;
}

.style-card>h3 {
    border-bottom: solid 0.2rem var(--secondary-color-dark);
}

.teachers-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    gap: 2rem;
}

.teachers-container img {
    border-radius: 50%;
}

.teacher {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-primary);
    padding: 1rem;
    gap: 1rem;
    max-width: 300px;
    min-width: 320px;
    flex-basis: 25%;
    background-color: var(--background-color);
}



.teacher-info-1 p:first-of-type {
    color: var(--primary-color-light);
    font-style: italic;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: stretch; */
    gap: 2rem;
    flex-grow: 4;
}

.calendar-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}


/* Day Card */
.calendar-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    padding: 1.5rem;
    max-width: 300px;
    min-width: 250px;
    flex-basis: 25%;
    color: var(--text-color);
}

.day-heading {
    text-align: center;
}

.location-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* box-shadow: var(--box-shadow-navbar); */
}

.location-heading {
    /* font-size: 1em; */
    color: var(--text-color-secondary);
    border-bottom: solid 0.2rem var(--secondary-color-dark);
    text-align: right;
    white-space: nowrap;
}

.teacher-name {
    /* font-size: small; */
    color: var(--text-color-secondary);
    /* margin-bottom: 0.3rem; */
    text-align: right;
}

.class-entry {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    gap: 0.5rem;
}

.time {
    font-weight: bold;
    color: var(--secondary-color-light);
    flex: 0 0 4rem;
}

.class-name {
    font-size: 1em;
    color: var(--text-color);
}


.pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    flex-grow: 4;
}


.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* min-width: 200px; */
    /* width: 100%; */
    /* justify-content: space-evenly; */
    /* align-items: stretch;
    margin-block: 1rem;
    max-width: 80%;
    margin-inline: auto; */
    /* width: 100%; */
    gap: 1rem;

}


.pricing-summary {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2;
    margin-top: 1rem;
}

.pricing-summary span {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding-block: 0.2rem;
    padding-inline: 0.4rem;
    white-space: nowrap;
    font-weight: bold;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-primary);
    /* padding-block: 1rem; */
    /* flex-basis: 200px; */
    padding-block: 2rem;
    padding-inline: 0.5rem;
    max-width: 300px;
    min-width: 260px;
    flex-basis: 25%;
}

.price {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding-inline: 1rem;
    white-space: nowrap;
}

.currency {
    vertical-align: top;
}

.amount {
    font-size: 1.2rem;
    font-weight: bold;
}

.period {
    font-size: 1rem;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    text-align: left;
}

.features li {
    /* display: flex; */
    align-items: center;
    gap: 0.8rem;
    position: relative;
    padding-left: 0.5rem;
    /* Make space for the icon */
}

.available {
    color: var(--text-color);
}

.available span {
    margin-right: 0.5rem;
    color: var(--primary-color-light);
}

.not-available {
    color: var(--text-color-secondary);
}

.not-available span {
    margin-right: 0.5rem;
    color: var(--primary-color-dark);
}

.payment-methods {
    margin-top: 1rem;
}

.payment-methods li {
    margin-left: 1rem;
}

/* Gallery Section */
/* #gallery {
    background-color: var(--primary-color-dark);
} */

.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    flex-grow: 1;
}


lite-youtube {
    max-height: 600px;
    width: 100%;
    max-width: var(--viewport-width-desktop) !important;
    margin-inline: auto;
    border-radius: var(--border-radius);
}

lite-youtube>.lyt-playbtn {
    filter: none !important;
    transition: none !important;
}

.lyt-visually-hidden {
    display: none !important;
}

/* Questions Section */
.qa-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    flex-grow: 4;
}


.qa-container li {
    /* margin-top: 2rem; */
    box-shadow: var(--box-shadow-primary);
    padding: 1rem;
    text-align: left;
    background-color: var(--background-color);
}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    flex-grow: 4;
}

#contacts strong {
    font-weight: bold;
}

.contacts-container p:nth-child(4) {
    text-align: center;
}

.contact-saloon {
    margin-left: 2rem;
}

/* #contacts ol {
    margin-bottom: 1rem;
} */


.contact-locations {
    width: 100%;
}

.contact-locations img {
    z-index: 1;
    border-radius: var(--border-radius);
}

.contact-locations p {
    text-align: center;
}

.social-media {
    display: flex;
    /* width: 100%; */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* padding-block: 2rem; */
    /* flex-basis: 500px; */
}

.social-media img {
    width: 3rem;
    height: 3rem;
    border-radius: 40%;
    object-fit: cover;
    z-index: 1;
}

footer .container-full {
    text-align: center;
    padding-top: 0;
    padding-bottom: 2.5rem;
    margin-block: auto;
    min-height: auto;
    max-width: var(--viewport-width-desktop);
}

.copyright {
    padding-top: 0.5rem;
}


#logo-footer {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-inline: auto;
}

.copyright img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.legal {
    padding: 1rem;
}

.legal ul {
    list-style: none;
}


/* Media Queries for Mobile */
@media (max-width: 768px) {
    :root {
        --border-radius: 0.4rem;
        --box-shadow-navbar: 0 0.1rem 0.4rem 0.01rem var(--primary-color);
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }


    .home-container p:first-of-type {
        font-size: 1.5rem;
        margin-block: 1rem;
        /* Push this paragraph to the top */
    }

    .home-container p:last-of-type {
        font-size: 1rem;
    }

    .container-full {
        max-width: var(--viewport-width-mobile);
    }

    .nav-content {
        padding: 0.5rem;
    }

    .nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        display: none;
        position: fixed;
        top: 1rem;
        right: 1rem;
        left: 1rem;
        max-width: var(--viewport-width-mobile);
        margin-inline: auto;
        flex-direction: column;
        z-index: 100;
    }

    .nav-links.open {
        display: flex;
        /* Adjust width as needed */
        flex-direction: column;
        text-align: center;
        /* z-index: 100; */
        justify-content: flex-start;
        gap: 1rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        background-image: var(--linear-gradient);
        color: var(--text-color);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow-navbar);
    }

    #home {
        /* background-position: top center;
        background-size: cover; */
    }

    .nav-links li {
        padding: 0.5rem 1rem;
    }


    .floating-contact-button {
        left: 2rem;
    }

    .contact-text {
        display: none;
    }

    .contact-text-short {
        display: inline;
    }

    footer .container-full {
        max-width: var(--viewport-width-mobile);
    }

    .qa-container {
        flex-direction: column;
        gap: 2rem;
    }

    /* #about>p:nth-child(3),
    #gallery>p:first-of-type {
        font-size: 1.2rem;
    } */


    .styles-cards {
        gap: 2rem;
    }
}


@media (max-width: 1600px) and (min-width: 769px) {
    .floating-contact-button {
        left: 2rem;
    }
}